git+https://github.com/cqr-cryeye-forks/unqlite-python#egg=unqlite
msgpack~=1.0.4
scapy~=2.4.5
cython
pysmb==1.2.8
yattag==1.14.0
impacket~=0.10.0
convert==0.1.2
ftputil==5.0.4
python-nmap==0.7.1
msgpack-python==0.5.6
shodan==1.28.0
whois==0.9.16